<h3>Summaries</h3>

<table>
  <tr>
    <th>Class name</th>
    <th>Device</th>
    <th>Date</th>
    <th>Pass</th>
    <th>Fail</th>
    <th></th>
  </tr>

<% pre_class_name = nil %>
<% @summaries.each do |summary| %>
  <tr>
    <% if summary.class_name == pre_class_name %>
     <td style="border-top-style:hidden;"></td>
    <% else %>
     <td><%= summary.class_name %></td>
    <% end %>
    <td><%= summary.device %></td>
    <td><%= summary.formatted_date %></td>
    <td class="pass"><%= summary.pass %></td>
    <td class="fail"><%= summary.fail %></td>
    <td><%= link_to 'Show', 'test_cases/?class=' + summary.class_name + '&device=' + summary.device + '&date=' + summary.date %></td>
    <% if false %>
    <td><%= link_to 'Edit', edit_summary_path(summary) %></td>
    <td><%= link_to 'Destroy', summary, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>

    <% pre_class_name = summary.class_name %>
  </tr>
<% end %>
</table>

<br />

    <% if false %>
<%= link_to 'New Summary', new_summary_path %>
    <% end %>
