<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @summary.project %>
</p>

<p>
  <b>Class name:</b>
  <%= @summary.class_name %>
</p>

<p>
  <b>Device:</b>
  <%= @summary.device %>
</p>

<p>
  <b>Date:</b>
  <%= @summary.date %>
</p>

<p>
  <b>Pass:</b>
  <%= @summary.pass %>
</p>

<p>
  <b>Fail:</b>
  <%= @summary.fail %>
</p>


<%= link_to 'Edit', edit_summary_path(@summary) %> |
<%= link_to 'Back', summaries_path %>
